.imagespage {
  padding: 15px 20px;
}

/* upload images */
.imagespage .ant-row {
  flex-direction: column;
}
.imagespage .ant-col-10 {
  flex-basis: 100%;
  max-width: none;
}
.imagespage .ant-col-14 {
  flex-basis: 100%;
  max-width: none;
  height: fit-content;
}
.imagespage .media-library {
  display: none;
}
.imagespage .upload-image-preview .ant-row {
  display: flex;
  flex-direction: row;
}
.imagespage .upload-image-preview .ant-col {
  margin-right: 10px;
}
.imagespage .ant-card-bordered {
  border: none;
  border-bottom: 1px solid #f0f0f0;
}
/* end */

/* images */
.imagespage_images {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 10px;
}

.imagespage_noImages {
  font-size: 25px;
  text-align: center;
}

.imagespage_singleImage {
  flex-basis: 50%;
  height: 125px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}

.imagespage_singleImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.imagespage_singleImage-remove {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagespage_singleImage-remove svg {
  width: 15px;
  height: 15px;
  pointer-events: none;
}
.SRLCaptionText {
  display: none;
}

.css-13uajvl {
  overflow: hidden !important;
}
