.header {
  width: 100%;
  height: 45px;
  background-color: #fff;
  box-shadow: 0px 5px 15px -2px #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.header_space {
  height: 45px;
}

.header_wrapper {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}

.hamburger-menu {
  z-index: 10;
  cursor: pointer;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #000;
  margin: 5px 0;
  transition: 0.4s;
  position: relative;
  border-radius: 5px;
}

.menu-bar2 {
  width: 2rem;
  margin-left: auto;
}

.active .menu-bar1 {
  top: -5px;
  transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
}

.active .menu-bar2 {
  opacity: 0;
}

/* ROTATE LAST BAR */
.active .menu-bar3 {
  transform: rotate(45deg) translate(-0.6rem, -0.8rem);
  top: 11px;
}

.dropdown {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transform: translateX(-100%);
  transition: 0.4s;
  padding: 20px;
}

.dropdown_wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  height: fit-content;
}

.dropdown_active {
  display: flex;
  transform: translate(0);
}

.dropdown_logout {
  width: 150px;
  flex-basis: 45%;
  height: 150px;
  background-color: rgba(255, 0, 0, 0.7);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropdown_logout img {
  width: 50px;
  margin-bottom: 25px;
  filter: brightness(0) invert(1);
}

.dropdown_text {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.dropdown_components {
  width: 150px;
  flex-basis: 45%;
  height: 150px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: calc(100% - 90%);
}

.dropdown_components svg {
  width: 50px;
  margin-bottom: 25px;
  filter: brightness(0) invert(1);
}
